DATABASE_URL="postgresql://user:password@hostname/dbname"
FIELD_ENCRYPTION_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
ENCRYPTION_SALT="0123456789abcdef0123456789abcdef"
NODE_ENV="development"
WA_PHONE_NUMBER_ID=""
WA_ACCESS_TOKEN=""
WA_WEBHOOK_VERIFY_TOKEN=""
SENDGRID_API_KEY=""
SENDGRID_FROM_EMAIL="noreply@vitaehealth.ng"
